html {
    margin-bottom: 36px;
}

._gf-line, ._gf-line * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
._gf-line {
    position: fixed;
    left: 0;
    bottom: 0;
    width:100%;
    background: rgba(0,0,0,.95);
    padding: 0 10px;
    height: 36px;
    color: #fff;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-weight: 300;
    font-size: 14px;
}

._gf-line__logo {
    height: 26px;
    width: auto;
    margin: 5px 10px 5px 0;
}

._gf-line__ico {
    height: 18px;
    position: relative;
    top: 8px;
    width: auto;
    float: left;
    margin-right: 10px;
}

._gf-line__logo, ._gf-line__box {
    float: left;
}

._gf-line__box--hand {
    cursor: pointer;
}

._gf-line__box--hover:hover {
    background: #333;
}

._gf-line__box__hover {
    position: absolute;
    bottom: 100%;
    right: -1px;
    background: #333;
    padding: 10px;
    overflow: auto;
    display: none;
}

._gf-line__box--hover:hover ._gf-line__box__hover {
    display: block;
}

._gf-line__box__hover a {
    color: #fff;
    text-decoration: underline;
}

._gf-line table {
    border-top: 1px #999 solid;
    border-left: 1px #999 solid;
    border-spacing: 0;
    table-layout: auto;
    color: #fff;
}

._gf-line th,
._gf-line td {
    border-right: 1px #999 solid;
    border-bottom: 1px #999 solid;
    padding: 5px 10px;
    text-align: left;
}

._gf-line__box {
    position: relative;
    border-left: 1px #333 solid;
    height: 36px;
    padding: 0 10px;
}

._gf-line__box__title {
    line-height: 36px;
}